.table{
  background-color:#e4e4e4af;
  margin-top: auto;
  display: table;
  width: 100%;
  height: 25vh;
  
  text-align: center;
}

.tr{
  background-color: #54B4D3;
  
  
}

.title_cart{
  margin-bottom: 100px;
}
