.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: rgb(19, 19, 18);
}
.nav-menu {
  list-style-type: none;
  margin: 0.7rem;
  background-color: #ecde8f;
  display: flex;
  justify-content:space-around;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.menu li {
  display: inline-block;
  text-align: center;
  margin: 0.7rem;
  background-color: #ada5a5;
  padding: 0.7rem;
}
.menu li link {
  text-decoration: none;
  display: inline-block;
  color: black;
}
.menu li link:hover {
  color: white;
}

