.header_title{
    margin: 35 auto;
    font-size: 48px;
    text-align: center;
  }

  .App-header {
    height: 270px;
    background-color: #debc40;
    min-height: 10px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .header-banner{
    width: 100%;
    height: 160px;
    background-color: black;
    text-align: center;
  }
  
  .header-img{
    height: 100%;
    margin: 0 auto;
  }